<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>URL Shortener</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>URL Shortener</h1>
            <h2>Simplify your url, make it easier to use</h2>
            <form action="/shortURLs" method="POST">
                <input placeholder="Enter your URL" type="url" name="fullURL" id="fullURL" required>
                <button type="submit">Shrink</button>
            </form>
        </header>

        <h2 class="h2">Converted URLs</h2>
        <section class="grid-container">
            <h3>Long URL</h3>
            <h3>Short URL</h3>
            <h3 class="click">Clicks</h3>
            <% shortURLs.forEach(shortURL => { %>
                    <a href="<%= shortURL.full %>"><%= shortURL.full %></a>
                    <div class="col"><a href="<%= shortURL.short %>" data-short-link><%= shortURL.short %></a><div class="copy-btn"><span class="tooltiptext">Copy</span><img src="copy.svg"></img></div></div>
                    <div class="click"><%= shortURL.click %></div>
            <% }) %>
        </section>
    </div>
    <script>
        const links = document.querySelectorAll('[data-short-link]')
        links.forEach(link => {
            link.innerText = window.location.host + '/' + link.innerText
        });

        const buttons = document.querySelectorAll('.copy-btn').forEach(button => {
            button.onclick = function () {
                const value = button.parentElement.querySelector('[data-short-link]').innerText
                const temp = document.createElement('input')
                temp.value = value
                document.body.append(temp)
                temp.select();
                temp.setSelectionRange(0, 99999);
                document.execCommand("copy");
                temp.remove()

                const tooltip = button.querySelector('.tooltiptext')
                tooltip.innerText = 'Copied!'
                setTimeout(function(){
                    tooltip.innerText = 'Copy'
                }, 2000)
            }
        })
    </script>
</body>
</html>